/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(HOSKY_PAD_NEW.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
{

/*END PS4 Controller Styling*/